{% if ideas %}
    <h1>{{game.title | title}}</h1>
    <h2>Current Ideas</h2>
    {% include "ideas/idea_list.html" %}
    <h3>Submit a New Idea</h3>
    {% include "ideas/idea_form.html" %}
    <h2>Current Presenters</h2>
    {% include "ideas/presenters_list.html" %}
    <h3>Submit a New Presenter</h3>
    {% include "ideas/presenter_form.html" %}
{% else %}
    <p>No ideas are available.</p>
{% endif %}
{% include "ideas/randomize_form.html" %}
<button type="button" onclick="location.href='{% url 'ideas:idea-submit' game.id %}'">Add Idea</button>
